<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :country_id %>
    <%= f.collection_select :country_id, Country.order(:name),:id,:name ,:include_blank => true%>
  </div>

  <div class="field">
    <%= f.label :state_id %>
    <%= f.grouped_collection_select :state_id, Country.order(:name),:states,:name,:id,:name,:include_blank => true %>
  </div>

  <div class="field">
    <%= f.label :town_id %>
    <%= f.grouped_collection_select :town_id, State.order(:name),:towns,:name,:id,:name ,:include_blank => true%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
